body{
    width:100%;
    height:100%;
    letter-spacing: 1px;
}
.scan h6{
    margin:0;
    padding:5px ;
    font-weight: normal;
    border-bottom:1px solid #ccc;
    color: #666;
}
.qrcode{
    width:100%;
    height:100%;
    margin:0 auto;

}
.code-img{
    margin:30% auto;
}
.qrcode img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    min-width: 180px;
}
.qrcode p{
    font-size:14px;
    font-weight: bolder;
    margin:0;
    text-align: center;
}